<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your App</title>
    {% load bootstrap5 %} {% bootstrap_css %}
    <style>
      /* Custom styles for the navbar and background */

      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      body {
        background-color: #fffcee;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
      }

      .navbar {
        background-color: #f4a261 !important;
      }

      /* Add more custom styles here as needed */

      /* Example styles for the footer */
      .footer {
        background-color: #f4a261;
        padding: 20px;
        margin-top: auto;
        text-align: center;
      }

      .search {
        background-color: #250902;
      }
      .search:hover {
        background-color: #f4a261;
      }
      ion-icon {
        font-size: 64px;
        outline: none;
      }
      ion-icon:hover {
        transform: scale(1.1); /* Scale up on hover */
      }
      .btn:focus,
      .btn:active {
        outline: none !important;
        box-shadow: none !important;
      }

      .food-picture {
        width: 100%; /* Adjust width to maintain aspect ratio */
        height: auto; /* Set your fixed height */
        object-fit: cover; /* Crop or center-align the image within the container */
        border: 1px solid #ddd; /* Add a light border around the image */
        border-radius: 8px; /* Round the corners of the image */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
        transition: transform 0.2s ease-in-out; /* Add a smooth hover effect */
      }

      .food-picture:hover {
        transform: scale(
          1.01
        ); /* Scale up the image slightly on hover for a zoom effect */
      }
    </style>
  </head>
  <body class="container">
    <!-- Your common content goes here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'menu' %}">Home</a>
        <!-- <ion-icon name="fast-food-outline"></ion-icon> -->
        <!-- <a class="navbar-brand" href="{% url 'logout' %}">Logout</a> -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'logout' %}"
                >Logout</a
              >
            </li>
            {% endif %} {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex" role="search" action="{% url 'food-search' %}">
            <input
              class="form-control me-2"
              type="search"
              name="q"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn" type="submit">
              <ion-icon size="large" name="search-circle-outline"></ion-icon>
            </button>
          </form>
        </div>
      </div>
    </nav>
    {% block content %} {% endblock %}

    <footer class="footer">This is your footer content.</footer>

    {% bootstrap_javascript %}
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
