{% extends 'ordering_app/base.html' %} {% block content %}
<h1 class="mt-5">{{ food.name }}</h1>
<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item">Name: {{ food.name }}</li>
      <li class="list-group-item">Description: {{ food.description }}</li>
      <li class="list-group-item">Price: ${{ food.price }}</li>
      <li class="list-group-item">ID: {{ food.id }}</li>
    </ul>
  </div>
</div>

<p class="mt-4">
  Average Rating: {{ food.average_rating|default:"No ratings yet" }}
</p>

<ul class="list-group mt-3">
  {% for rating in ratings %}
  <li class="list-group-item">
    Rating by {{ rating.user }}: {{ rating.rating }}
  </li>
  {% endfor %}
</ul>

<form method="POST" action="{% url 'food-rating' pk=food.id %}" class="mt-3">
  {% csrf_token %}
  <div class="form-group">
    <label for="like">Rate this food item (0-5):</label>
    <input
      type="number"
      min="0"
      max="5"
      name="like"
      class="form-control"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Rate</button>
</form>
{% endblock %}
