{% extends 'ordering_app/base.html' %} {% block content %}
<style>
  .hero-class {
    background-image: url("static/ordering_app/foods/hermes-rivera-home2-unsplash.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: beige;
  }

  .order {
    border-radius: 5%;
    background-color: #f4a261;
    padding: 0.8rem;
    text-decoration: none;
    color: aliceblue;
  }

  .order:hover {
    border-radius: 5%;
    padding: 0.8rem;
    text-decoration: none;
    color: #250902;
  }
</style>

<div class="hero-class">
  <div>
    <a href="{% url 'menu' %}" class="order">Place an Order</a>
    <a href="#" class="order">About</a>
  </div>
</div>
{% endblock %}
