{% extends 'ordering_app/base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-1 offset-md-1">
      <h1 class="text-center">Login</h1>

      <form class="form" action="{% url 'login' %}" method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
