{% extends 'ordering_app/base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h1>You have been logged out.</h1>

      <div class="mt-3">
        <a href="{% url 'login' %}" class="btn btn-primary">Go to Login Page</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
