{% extends 'ordering_app/base.html' %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Choose Your Delicious Dishes</h1>

  <form method="post" action="{% url 'add-to-cart-no-id' %}">
    {% csrf_token %}
    <div class="row">
      {% for food in foods %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            class="card-img-top food-picture"
            src="{{ food.picture.url }}"
            alt="{{ food.name }}"
          />

          <div class="card-body">
            <h5 class="card-title">{{ food.name }}</h5>
            <p class="card-text">{{ food.description }}</p>
            <p class="card-text">Price: ${{ food.price }}</p>
          </div>

          <div class="card-footer">
            <label for="quantity_{{ food.id }}">Quantity:</label>
            <input
              type="number"
              name="quantity_{{ food.id }}"
              id="quantity_{{ food.id }}"
              value="0"
              min="0"
              class="form-control"
            />

            <a
              href="{% url 'food-details' food.id %}"
              class="btn btn-warning mt-2"
              >Recipe</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-success btn-block mt-3">
      Add Selected Items to Cart
    </button>
  </form>

  <form method="post" action="{% url 'create-order' %}" class="mt-4">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-block mb-2">
      Place Your Order
    </button>
  </form>
</div>
{% endblock %}
