{% extends 'ordering_app/base.html' %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center">Order Confirmation</h1>

  <div class="card mt-4">
    <div class="card-body">
      <h4 class="card-title">Order from {{ user }}</h4>
      <p class="card-text">Total Price: ${{ price }}</p>
      <p class="card-text">To: {{ user.user }}</p>
      <p class="card-text">Phone: {{ user.phone_number }}</p>
      <p class="card-text">Address: {{ user.address }}</p>
    </div>
  </div>

  <div class="mt-4 text-center">
    <a href="{% url 'cancel-order' %}" class="btn btn-secondary mr-3"
      >Cancel and Return to Menu</a
    >
    <a href="{% url 'payment' %}" class="btn btn-primary">Payment</a>
  </div>
</div>
{% endblock %}
