{% extends 'ordering_app/base.html' %} {% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div
          class="card-header"
          style="background-color: #f4a261; color: #250902"
        >
          <h5 class="card-title">Fake Payment</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Amount: ${{ price }}</p>
          <form hx-post="{{ request.path }}" class="mb-3">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="btn btn-primary">
              Submit Payment
            </button>
          </form>
        </div>
        <div class="card-footer">
          <a href="{% url 'send-email' %}" class="btn btn-success">Done</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
