{% extends 'ordering_app/base.html' %} {% block content %}

<h1>this is register.</h1>

<form class="form" action="{% url 'register' %}" method="post">
  {% csrf_token %} {{form}}
  <input type="submit" value="register"></input>
</form>

{% endblock %}

